# CyberGuard Environment Configuration

# Database Configuration
# Local Docker Compose Mongo: mongodb://mongo:27017/
# Local direct Mongo: mongodb://localhost:27017/
# Production Mongo Atlas: mongodb+srv://<username>:<password>@cluster.mongodb.net/
MONGODB_URL=mongodb://localhost:27017/
DATABASE_NAME=cyberguard

# Server Port
PORT=8000

# Initial Simulator state (true or false)
SIMULATOR_ACTIVE=false
